.floating-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(16*var(--spacing));
  height: calc(16*var(--spacing));
  border-radius: calc(infinity * 1px);

  border: none;
  -webkit-tap-highlight-color: transparent;

  &.primary {
    background-color: var(--primary);
  }
  &.secondary {
    background-color: var(--bg-secondary);
  }
  &.danger {
    background-color: var(--bg-danger);
  }
  &.warning {
    background-color: var(--bg-warning);
  }
  &.save {
    background-color: var(--bg-save);
  }

  &:active {
    background-color: var(--primary-light);
    box-shadow: 0 0 0 1px;
  }

  /* 
  let basicClasses = `
    flex
    ${!className?.includes("justify-") ? "justify-center" : ""} 
    ${!className?.includes("items-") ? "items-center" : ""}
    no-tap-highlight
    cursor-pointer
  `

  basicClasses += `
      w-16 h-16 rounded-full 
      text-3xl font-bold
      active:bg-primary-800
      active:ring-2
      no-tap-highlight`;*/
  
  
}