@import "default.css";
@import "common-plant-page.css";

[contenteditable=true] {
  outline: 1px dashed white;
  border-radius: 2px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  &.primary {
    background-color: var(--primary);
  }
  &.secondary {
    background-color: var(--bg-secondary);
  }
  &.danger {
    background-color: var(--bg-danger);
  }
  &.warning {
    background-color: var(--bg-warning);
  }
  &.save {
    background-color: var(--bg-save);
  }
}

input[type=text], input:not([type]) {
  padding: calc(1*var(--spacing));
}

main {
  & .loading-page {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .not-found-page {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

main > nav {
  position: sticky;
  bottom: 0;
  width: 100vw;
  max-width: 8.5in;

  display: flex;
  flex-direction: row;

  & a, & div, & button {
    padding: calc(3*var(--spacing));
    background-color: var(--bg-primary);
    color: var(--fg-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: var(--primary-light);
    border-style: outset;
    flex-grow: 1;

    &:active {
      border-style: inset;
    }

    &.disabled {
      border-style: none;
      color: gray;
    }
  }
}

.hidden-photo-input {
  display: none;
}

section.links.editing {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: calc(2*var(--spacing));

  * {
    min-width: 0;
  }

  & button.add-button {
    grid-column: span 3;
  }
}

.tags {
  &.editing {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: calc(2*var(--spacing));
    padding-bottom: calc(2*var(--spacing));
  }

  & a {
    text-decoration: none;
  }
}

.radios {
  margin-bottom: calc(1*var(--spacing));
  display: flex;

  & input[type=radio] {
    display: none;
  }

  label {
    padding: calc(1*var(--spacing));
    background-color: var(--primary);
    flex-grow: 1;
    text-align: center;
    border-color: var(--primary-light);
    border-style: outset;

    &:has(input[type=radio]:checked) {
      background-color: var(--primary-light);
      border-style: inset;
    }
  }
}

.photos {
  & .no-photos-placeholder {
    & button {
      padding: calc(1*var(--spacing));
      margin-bottom: calc(2*var(--spacing));

      & svg {
        margin-right: 0.5em;
      }
    }
  }
}

section.journal {
  display: flex;
  flex-direction: column;

  margin: 0 calc(2*var(--spacing));
  margin-bottom: calc(2*var(--spacing));

  &:has(.no-journal-placeholder) {
    min-height: calc(36*var(--spacing));
    justify-content: center;
    align-items: center;
  }

  & .no-journal-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > svg {
      margin-bottom: calc(2*var(--spacing));
    }

    & button {
      padding: calc(1*var(--spacing));
      margin-bottom: calc(2*var(--spacing));

      & svg {
        margin-right: 0.5em;
      }
    }
  }

  & .journal-entry {
    background-color: var(--bg-table-stripe-odd);
    padding: calc(2*var(--spacing));
    margin-bottom: calc(2*var(--spacing));

    & .date {
      float: right;
      font-weight: bold;
      margin-left: calc(2*var(--spacing));
      margin-bottom: calc(2*var(--spacing));
    }

    & .text {
      & ol, & ul {
        margin-left: 2em;
      }
    }

    & > button {
      display: block;
      clear: both;
      width: 100%;
      margin-top: calc(2*var(--spacing));
    }
  }
}

.journal-entry-dialog, .photo-dialog {
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }

  margin: 5dvh auto;
  overflow: hidden;
  width: 90vw;
  height: 90dvh;
  max-width: calc(8.5in - 10dvh);
  border: none;

  & .content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  & .body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: calc(2*var(--spacing));
  }

  & input[type=date] {
    margin-bottom: calc(2*var(--spacing));
  }
  
  & textarea {
    min-height: 50%;
    padding: calc(4*var(--spacing));
    margin-bottom: calc(2*var(--spacing));
  }

  & .buttons {
    display: flex;
    & button {
      flex-grow: 1;
      padding: calc(2*var(--spacing));
    }
  }
}

.photo-dialog {
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(2*var(--spacing));
    border: 1px solid var(--bg-secondary);
    padding: calc(2*var(--spacing));

    form {
      display: inline-flex;
      flex-grow: 1;
    }

    input {
      flex-grow: 1;
      min-width: 10em;
      border: none;
      margin-left: calc(2*var(--spacing));
      background: none;
    }
  }

  .tag {
    display: flex;
    align-items: center;
    background-color: var(--primary-light);
    border-color: var(--primary);
    padding: calc(1*var(--spacing));
    margin: calc(1*var(--spacing));

    button {
      margin-right: calc(1*var(--spacing));
    }
  }
  
}

section.description {
  display: grid;

  &.editing div {
    padding: calc(2*var(--spacing));
    visibility: hidden;
    grid-area: 1 / 1 / 2 / 2;
  }

  & textarea {
    padding: calc(2*var(--spacing));
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    resize: none;
    grid-area: 1 / 1 / 2 / 2;
  }
}