@import "default.css";

main {
  width: 100%;

  --columns: 3;
  --gap: calc(1*var(--spacing));

  @media (width <= 200px) { --columns: 1; }
  @media (200px < width <= 400px) { --columns: 2; }
  @media (400px < width <= 600px) { --columns: 3; }
  @media (600px < width <= 800px) { --columns: 4; }
  @media (800px < width <= 1000px) { --columns: 5; }

  & .loading-page {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .not-found-page {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & ul {
    list-style-type: none;
  }

  .locations {
    display: flex;
    flex-direction: column;
  }

  .location {
    padding: calc(3*var(--spacing));
    color: var(--fg);
    font-size: 1.2rem;
    font-weight: bold;
  }

  .plants {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--gap);
  }

  .plant {
    > a {
      display: flex;
      flex-direction: column;
    }

    & a:target {
      outline: none;
      background-color: var(--primary-light);
    }
  }

  a {
    display: flex;
    color: var(--fg);
    text-decoration: none;
    text-align: center;
  }

  img {
    object-fit: cover;
    --size: calc((min(100dvw, 8.5in) - var(--gap) * (var(--columns) - 1)) / var(--columns));
    height: var(--size);
    width: var(--size);
  }

  .name {
    font-size: 1rem;
    padding: 0.5em;
  }
}

main > nav {
  position: sticky;
  top: 0;
  width: 100vw;
  max-width: 8.5in;

  & > div {
    display: flex;
  }

  background-color: var(--bg-primary);

  & select {
    margin: calc(2*var(--spacing)) 0;
    margin: calc(2*var(--spacing));
    padding: calc(2*var(--spacing));
  }

  & .filter-value-select {
    width: 100%;
    text-overflow: ellipsis;
  }

  & input {
    flex-grow: 1;
    margin: calc(2*var(--spacing)) 0;
    margin-right: calc(2*var(--spacing));
    padding: calc(2*var(--spacing));
    min-width: 0;
  }
}

.add-button {
  position: fixed;
  bottom: calc(5*var(--spacing));
  right: calc(5*var(--spacing));
  width: calc(16*var(--spacing));
  height: calc(16*var(--spacing));
  border-radius: calc(infinity * 1px);
  border: none;

  justify-content: center;
  align-items: center;
  
  -webkit-tap-highlight-color: transparent;
  background-color: var(--bg-primary);
  color: var(--fg-dark);
}