.camera-view {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  z-index: 10;
  background-color: black;

  & video {
    position: fixed;
    object-fit: fill;
    width: 100vw;
  }

  & .overlay {
    position: fixed;
    object-fit: fill;
    width: 100vw;
    opacity: 30%;
  }

  & .buttons button.shutter {
    width: calc(20*var(--spacing));
    height: calc(20*var(--spacing));
    background-color: var(--bg-light);
    border-radius: calc(infinity * 1px);
    border: 3px var(--bg-light);
    padding: calc(1.5*var(--spacing));
    background-clip: content-box;
  }

  & .buttons button.overlay-toggle.invisible {
    visibility: hidden;
  }
}

.review-view {
  width: 100vw;
  height: 100dvh;
  display: grid;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 10;
  color: white;

  & img {
    object-fit: contain;
  }
}

.review-view, .camera-view {
  & .buttons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100vw;
    bottom: 0;
    padding-bottom: calc(10*var(--spacing));

    button {
      background-color: transparent;
      border: none;
    }
  }
}