@import "camera.css";

.scientific-name {
  font-style: italic;
}

.edit-button {
  display: none;
  padding: calc(2*var(--spacing));
  padding-top: 0;
  margin-top: calc(-2*var(--spacing));
  margin-bottom: calc(2*var(--spacing));
  background-color: var(--bg-primary);
  color: var(--fg-dark);
  
  body.previously-logged-in & {
    display: block;
  }
}

section.tags {
  margin: 0 calc(2*var(--spacing));
  margin-bottom: calc(2*var(--spacing));
  padding: calc(2*var(--spacing));
  background-color: var(--bg-table-stripe-odd);

  ul {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  & .tag {
    padding: calc(1*var(--spacing));
    margin-bottom: calc(2*var(--spacing));
    border-radius: var(--spacing);
    background-color: var(--primary-light);
    color: var(--fg-dark);
    display: flex;
    list-style-type: none;

    &:not(:last-child) {
      margin-right: calc(1*var(--spacing));
    }

    & > :not(:last-child) {
      margin-right: 0.25em;
    }
  }

  & button.tag {
    border: none;
    color: var(--fg-dark);
  }

  & a {
    color: white;
  }

  & .tag-tooltip {
    display: none;
    padding: calc(2*var(--spacing));
    margin: calc(-2*var(--spacing));
    margin-top: calc(2*var(--spacing));
    background-color: var(--primary-lighter);

    & svg {
      margin-right: 0.25em;
    }
  }

  &:has(button.tag:focus) .tag-tooltip {
    display: flex;
  }
}

section.links {
  margin: 0 calc(2*var(--spacing));
  margin-bottom: calc(2*var(--spacing));

  & a {
    display: block;
    color: var(--fg);
    padding: calc(2*var(--spacing));

    &:nth-child(odd) {
      background-color: var(--bg-table-stripe-odd);
    }
    &:nth-child(even) {
      background-color: var(--bg-table-stripe-even);
    }
  }
}

section.photos {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 calc(2*var(--spacing));
  margin-bottom: calc(2*var(--spacing));

  & ul {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
  }

  & li {
    width: 100%;
    scroll-snap-align: center;
    flex-shrink: 0;
    position: relative;
  }

  & img {
    width: 100%;
    object-fit: cover;
  }

  & .counter {
    position: absolute;
    top: 0;
    left: 0;
    margin: calc(2*var(--spacing));
    padding: calc(2*var(--spacing));
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--fg-dark);
    display: flex;
    flex-direction: column;
  }

  & .date {
    position: absolute;
    top: 0;
    right: 0;
    margin: calc(2*var(--spacing));
    padding: calc(2*var(--spacing));
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--fg-dark);
  }

  & button.delete {
    margin-top: calc(2*var(--spacing));
    padding: calc(2*var(--spacing));
    background-color: var(--bg-primary);
    color: var(--fg-dark);
  }

  &:has(.no-photos-placeholder) {
    height: calc(72*var(--spacing));
  }

  .no-photos-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      padding: calc(1*var(--spacing));
      margin-bottom: calc(2*var(--spacing));

      & svg {
        margin-right: 0.5em;
      }
    }
  }
}