:root {
  color-scheme: light dark;

  --bg-light: oklch(98.5% 0.006 285.885);
  --fg-light: oklch(21%   0.006 285.885);
  --bg-table-stripe-even-light: oklch(96.7% 0.006 285.885);
  --bg-table-stripe-odd-light: oklch(92% 0.006 285.885);

  --bg-dark: oklch(21%   0.006 285.885);
  --fg-dark: oklch(98.5% 0.006 285.885);
  --bg-table-stripe-even-dark: oklch(27% 0.006 285.885);
  --bg-table-stripe-odd-dark: oklch(37% 0.006 285.885);

  --bg-primary: oklch(0.3 0.0316 149.89);
  --primary-light: oklch(50% 0.0316 149.89);
  --primary-lighter: oklch(70% 0.0316 149.89);

  --fg: var(--fg-light);
  --bg: var(--bg-light);
  --bg-table-stripe-even: var(--bg-table-stripe-even-light);
  --bg-table-stripe-odd: var(--bg-table-stripe-odd-light);

  --spacing: 0.25rem; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: var(--fg-dark);
    --bg: var(--bg-dark);
    --bg-table-stripe-even: var(--bg-table-stripe-even-dark);
    --bg-table-stripe-odd: var(--bg-table-stripe-odd-dark);
  }
}

*, ::after, ::before, ::backdrop, ::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

html {
    background-color: var(--bg);
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 14px;
  color: var(--fg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 8.5in;
  width: 100%;
}

main > header {
  background-color: var(--bg-primary);
  color: var(--fg-dark);
  padding: calc(2*var(--spacing));
  margin-bottom: calc(2*var(--spacing));
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  & a {
    display: flex;
    align-items: center;
    color: inherit;
    margin: 0.25em;
    font-size: 3em;
  }
}